@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    border: 1px solid white;
    border-radius: 3px;
    float: left;
    width: 50px;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
    
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif ;
    color:white; 
}
.nav-list li a:hover{
    text-decoration: none;
    
    color: grey; 

}
.rightNav {
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0,0, 0.7) url('../img/bg.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
    justify-content: center;
}

.firstHalf{
    width: 149%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.secondHalf{
    width: 130%;
    margin: 45%;
    padding: 16px 0px;
    border: 4px white;
    border-radius: 150px;
    text-align: center;
    display: block;
    margin: auto;
}


.box-main{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 75%;
    color:  white;
    font-family: 'Ubuntu', sans-serif ;
    max-width: 50%;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

.box-main img{
    
    width: 80%;
    border: 2px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 47px;
    padding: 10px 0px;
}

.text-small{
    font-size: 20px;
    padding-bottom: 5px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 4px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}

.section{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     max-width: 67%;
     margin: auto;
     font-family: 'Ubuntu', sans-serif;
     background-size: cover;
}
.section img {
    width: 153%;
    border:  2px solid white;
    border-radius: 10px;
    display: block;
    margin: auto;
    padding: 10px;
} 
.paras{
    padding: 0px 60px;
}
.section-left {
    flex-direction: row-reverse;
}
.section-left img{
    float: left;
    width: 100%;
}

.sectionTag{
    padding: 16px 0px;
   
    font-family: 'Ubuntu', sans-serif ;
}
.sectionSubTag{
    font-family: 'Ubuntu', sans-serif ;
}
.thumbnail img{
    width: 166%;
    margin: 3%;
    border: 19px black;
    border-radius: 16px;
    margin-top: 16%;
    }
.thumbnail-edu img{
    width: 199%;
}
.sec-tb img{
    width: 306%;
    border-radius: 16px;
    margin: -173%;

}
.thumbnail-edu{
    width: 90%;
    margin-top: 5%;
    border-radius: 100px;
}
.tb-last {
    width: 82%;
    border-radius: 15px;
    border: 13px black; 
}
.contact{
    background-color: rgb(237, 237, 237);
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.contact li{
    margin: 3%;
    display: inline;
}


.row {
    display: flex;
  }
.col {
    flex: 4%;
    margin-bottom: 0.5%;
    margin-left: 24%;
  }
.linkedin img{
    width: 10%;
    border-radius: 52%;
}
.github img{
    width: 10%;
    border-radius: 52%;
}
.text-center{
    padding-top: 20px;
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif ;
    font-size: 30px;
}

.contact-h{
    padding-top: 2%;
    text-align: center;
    padding: 1%;
    font-family: 'Ubuntu', sans-serif ;
    font-size: 30px;
}

.contact-h-r{
    text-align: center;
    padding: 0.5%;
    color: rgb(63, 61, 61);
    font-family: 'Ubuntu', sans-serif ;
    font-size: 25px;
}

.subh{
    color: rgb(122, 6, 6);
}

.sub-skill{
    margin-top: 10px;

}
.form{ 
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    display: inline;
    text-align: center;
    font-size: 20px;
}
mail {
    font-size: 50%;
    display: inline;
}


.btn-dark{
    color: black;
    border-radius: 4px;
    border-color: grey;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15%
}
.line{
    width: 30px;
    background-color: white;
    height: 4px;
    margin: 5px;
}
.foot{
    color: white;
    text-align: center;
    height: 30px;

    background-color: black;
}



@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 477px;
        flex-direction:  column-reverse;
        transition: all 1s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 60%;
    }
    .contact{

    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
       flex-direction: row-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .col {
        width: 100%;
      }
}